[submodules "api"]
  path = api
  url = https://github.com/nakatsu-minami-developers/timer-app-api
[submodules "front"]
  path = front
  url = https://github.com/nakatsu-minami-developers/timer-app-front
